<div class="list-group">
  <div
    class="list-group-item"
    *ngFor="let playlist of listItems; index as i"
    [class.active]="playlist.id === selectedId"
    (click)="select(playlist.id)">

    {{ i + 1 }}. {{ playlist.name }}
    
    <span class="close float-end" (click)="remove(playlist.id)">&times;</span>
  </div>
</div>
