<div class="row">
  <div class="col">
    <p>dropdowns works!</p>

    <div class="dropdown" appDropdown>
      <!-- [appDropdownTrigger]="menu" -->
      <button
        appDropdownTrigger
        class="btn btn-secondary dropdown-toggle"
        type="button"
      >
        Dropdown button
      </button>

      <!-- #menu="dropdownMenu" -->
      <ul class="dropdown-menu" appDropdownMenu #menu="dropdownMenu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
  <div class="col">
    <button
      [appDropdownTrigger]="menu"
      class="btn btn-secondary"
      type="button"
    >
      Dropdown button
    </button>
  </div>
</div>
