<div class="list-group">
  <div
    class="list-group-item"
    *ngFor="let playlist of playlists | async; index as i"
    [routerLink]="[playlist.id]"
    routerLinkActive="active"
  >
    {{ i + 1 }}. {{ playlist.name }}

    <span class="close float-end" (click)="remove(playlist.id)">&times;</span>
  </div>
</div>
