form.ng-submitted .ng-invalid,
form .ng-dirty.ng-invalid,
form .ng-touched.ng-invalid {
  border: 2px solid red;
}

form.ng-submitted .ng-valid,
form .ng-dirty.ng-valid,
form .ng-touched.ng-valid {
  border: 2px solid green;
}
