<pre>{{ formRef.value | json }}</pre>

<form #formRef="ngForm" (ngSubmit)="submit()">
  <app-card>
    <div class="form-group mb-3">
      <label for="">Name</label>
      <input
        type="text"
        class="form-control"
        #nameRef="ngModel"
        [ngModel]="playlist.name"
        name="name"
        required
        minlength="3"
        [appCensor]="'batman'"
      />
      <span data-testid="counter" class="float-end">{{ nameRef.value?.length }} / 170</span>

      <!-- <pre>{{ nameRef.errors | json }} </pre> -->

      <!-- <app-form-messages [field]="formRef.form.get('name')"></app-form-messages> -->
      <!-- <app-form-messages fieldName="name"></app-form-messages> -->

      <ng-container *ngIf="formRef.form.get('name') as field">
        <ng-container *ngIf="field.dirty || field.touched || formRef.submitted">
          <div class="text-danger" *ngIf="field.hasError('required')">
            Field is required
          </div>

          <div class="text-danger" *ngIf="field.getError('minlength') as error">
            Minimum length is {{ error.requiredLength }}
          </div>

          <div class="text-danger" *ngIf="field.getError('censor') as error">
            Name cannot contain "{{ error.badword }}"
          </div>
        </ng-container>
      </ng-container>
    </div>

    <div class="form-group mb-3">
      <label for="">
        <input type="checkbox" [ngModel]="playlist.public" name="public" />
        Public
      </label>
    </div>

    <div class="form-group mb-3">
      <label for="">Description</label>
      <textarea
        class="form-control"
        [ngModel]="playlist.description"
        name="description"
      ></textarea>
    </div>

    <p (click)="extras = !extras">Toggle extras</p>
    <div *ngIf="extras" ngModelGroup="extras">
      <div class="form-group mb-3">
        <label for="">Extra</label>
        <input type="text" class="form-control" ngModel name="extra" />
      </div>
    </div>

    <ng-container ngProjectAs="cardFooter">
      <button class="btn btn-danger" (click)="cancelClick()">Cancel</button>
      <button class="btn btn-success" type="submit">Save</button>
    </ng-container>
  </app-card>
</form>
